@import "~bootstrap/scss/bootstrap.scss";
body{
    background-image: url("https://images.pexels.com/photos/2338113/pexels-photo-2338113.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;


}
.bg-danger{
    -webkit-box-shadow: 0px 0px 46px 0px rgb(242, 14, 14);
-moz-box-shadow: 0px 0px 46px 0px rgb(242, 14, 14);
box-shadow: 0px 0px 46px 0px rgb(242, 14, 14);
}
.bg-warning{
-webkit-box-shadow: 0px 0px 46px 0px rgba(242,200,14,1);
-moz-box-shadow: 0px 0px 46px 0px rgba(242,200,14,1);
box-shadow: 0px 0px 46px 0px rgba(242,200,14,1);
}
.bg-success{
-webkit-box-shadow: 0px 0px 46px 0px rgb(52, 242, 14);
-moz-box-shadow: 0px 0px 46px 0px rgb(22, 242, 14);
box-shadow: 0px 0px 46px 0px rgb(52, 242, 14);
}
.lightA{
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(148, 99, 132, 0.089);
}
.lightB{
    width: 1.5rem;
    height: 1.5rem;
    background-color:  rgba(148, 99, 132, 0.089);
}.lightC{
    width: 1.5rem;
    height: 1.5rem;
    background-color:  rgba(148, 99, 132, 0.089);
}
.box{
    border-radius: 20px;
    height: 20vh;
    margin-top: 25.5%;
    margin-left: 30%;
    width: 10vw;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 0;
    
}
.sitck{
    height: 5rem;
    width: 1rem;
    margin-left: 1.5rem;
}